$font-family-base: 'Kanit', sans-serif;
$font-weight-lighter:         100 !default;
$font-weight-light:           200 !default;
$font-weight-normal:          290 !default;
$font-weight-bold:            600 !default;
$font-weight-bolder:          800 !default;
$border-width: 1px;


@import "boosted/scss/_functions";
@import "boosted/scss/_variables";
@import "boosted/scss/boosted";

.fw-bold {
    letter-spacing: 0.8px;
  }

