

@font-face {
    font-family: 'Kanit';
    font-weight: 200;
    font-style: normal;
    src: url('/fonts/kanit/Kanit-ExtraLight.ttf') format('truetype');
    font-display: swap;
  }
  @font-face {
    font-family: 'Kanit';
    font-weight: 800;
    src: url('/fonts/kanit/Kanit-Medium.ttf') format('truetype');
    font-display: swap;
  }

  @font-face {
    font-family: 'Kanit';
    font-weight: 100;
    src: url('/fonts/kanit/Kanit-Thin.ttf') format('truetype');
    font-display: swap;
  }





@font-face {
    font-family: 'SukhumvitSet';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/SukhumvitSet-Text.woff2') format('woff2'),
         url('/fonts/SukhumvitSet-Text.ttf') format('truetype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SukhumvitSet';
    font-style: normal;
    font-weight: 900;
    src: url('/fonts/SukhumvitSet-Bold.woff2') format('woff2'),
         url('/fonts/SukhumvitSet-Bold.ttf') format('truetype');
    font-display: swap;
  }
  
  @font-face {
    font-family: 'SukhumvitSet';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/SukhumvitSet-Thin.woff2') format('woff2'),
         url('/fonts/SukhumvitSet-Thin.ttf') format('truetype');
    font-display: swap;
  }



  
  body {
    font-family: 'Kanit' !important;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: manipulation;
  }
  .font-kanit{
    font-family: 'Kanit' !important;
  }